github "SwiftyBeaver/SwiftyBeaver" == 1.6.1
github "matthewpalmer/Locksmith" == 4.0.0
github "Moya/Moya" == 12.0.1
github "Hearst-DD/ObjectMapper" == 3.4.0
github "davidstump/SwiftPhoenixClient" == 0.9.3
github "Anakros/WebRTC" == 63.11.20455
github "salemove/ios-socket-client" == 9.0.2
github "exyte/Macaw" == 0.9.3
github "drmohundro/SWXMLHash" == 4.7.5
