# This dependency of "SwiftPhoenixClient" needs to be extra declared here to avoid Carthage
# pulling the latest version which is at the moment incompatible with SalemoveSDK
github "daltoniam/Starscream" "3.1.1"

# These dependencies of "Moya" need to be extra declared here to avoid Carthage
# pulling the latest version which are at the moment incompatible with SalemoveSDK
github "ReactiveCocoa/ReactiveSwift" "6.2.1"
github "ReactiveX/RxSwift" "5.1.0"

# Main Dependencies required by SalemoveSDK
binary "https://raw.githubusercontent.com/twilio/twilio-voice-ios/Releases/twilio-voice-ios.json" == 5.3.1
github "Moya/Moya" == 14.0.0
github "Hearst-DD/ObjectMapper" == 3.5.2
github "davidstump/SwiftPhoenixClient" == 1.2.1
github "salemove/ios-socket-client" == 9.1.0
github "salemove/ios-webrtc" == 0.0.3
github "exyte/Macaw" == 0.9.6
